<div class="center-content 2xl:col-start-5 2xl:col-end-9">
  <% if user_signed_in? %>
    <%= link_to 'New post', new_article_url, class: 'text-center mt-6 mb-16 hover:text-blue-500' %>
  <% end %>
  <%= render @articles %>
</div>
