<div class="col-span-2
            sm:col-span-4
            md:col-auto md:col-start-3 md:col-end-5
            lg:col-start-3 lg:col-end-7
            xl:col-start-4 xl:col-end-10
            2xl:col-start-5 2xl:col-end-9
            px-5 flex flex-col">
  <%= render @articles %>
</div>
