<article class="center-content mt-5">
  <h1 class="text-2xl lg:text-3xl font-medium text-slate-800 text-center mb-2">
    <%= @article.title %>
  </h1>
  <time datetime="<%= @article.created_at %>" class="text-center text-sm text-slate-500"><%= @article.created_at.strftime('%B %d, %Y') %></time>

  <div class="mt-8 text-lg text-slate-700 article-content">
    <%= @article.content %>
  </div>
</article>
