<div class="flex flex-col items-center">
  <% if @global_user.photo.present? %>
      <img class="bg-current rounded-full w-20 h-20" src="<%= url_for @global_user.photo %>" />
  <% end %>
  <div class="mt-3 text-lg font-semibold"><%= @global_user.name %></div>
  <% if user_signed_in? %>
    <%= link_to edit_users_url do %>
      <%= image_tag('icons/edit-icon.svg', class: 'ml-3 inline') %>
    <% end %>
  <% end %>
</div>