<div class="flex flex-col items-center">
  <div class="text-lg font-bold text-white"><%= link_to @global_user.name, root_path, target: "_top" %></div>
  <% if user_signed_in? %>
    <%= link_to edit_users_url do %>
      <%= image_tag('icons/edit-icon.svg', class: 'ml-3 inline') %>
    <% end %>
  <% end %>
</div>