<nav class="my-5">
  <ul class="flex justify-center">
    <li class="font-semibold hover:cursor-pointer">All Posts</li>
    <li class="ml-5 hover:font-semibold hover:cursor-pointer">Rails</li>
    <li class="ml-5 hover:pointer flex">
      <%= image_tag 'icons/find-icon.svg', class: 'mr-1' %>
      Find
    </li>
  </ul>
</nav>