@import 'actiontext.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply border rounded-3xl px-5 py-2 bg-slate-200 hover:bg-slate-400 cursor-pointer;
    }

    .btn-secondary {
        @apply border border-transparent rounded-3xl px-5 py-2 bg-slate-100 cursor-pointer;
    }

    .center-content {
        @apply  col-span-2
        sm:col-span-4
        md:col-auto md:col-start-1 md:col-end-7
        lg:col-start-2 lg:col-end-8
        xl:col-start-3 xl:col-end-11
        2xl:col-start-4 2xl:col-end-10
        px-5 flex flex-col;
    }

    .trix-content div {
        @apply text-slate-800 text-lg sm:text-xl
    }

    .trix-content h2 {
        @apply mb-3 font-semibold text-xl sm:text-3xl md:text-4xl text-slate-800
    }

    .trix-content ul {
        @apply list-disc
    }

   .trix-content ol {
       @apply list-decimal
   }
}
